.Life {
  text-align: center;
}

.container{
  position: relative;
}

.confetti{
  width: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 5s linear;
}

.balloons{
  position: absolute;
  max-width: 150px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
