.Life {
  text-align: center;
}

.container{
  max-height: 300px;
}

.confetti{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider.carousel{
  margin-left: auto;
  margin-right: auto;
}

.App-logo {
  position: relative;
  top: -350px;
  z-index: 1;
  display: inline-block;
  animation: App-logo-spin infinite 5s linear;
}

.balloons{
  max-width: 200px !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
